In [198]:
import numpy as np
import pandas as pd

In [199]:
df=pd.read_csv("train.csv")

In [200]:
df.head

<bound method NDFrame.head of                Customer Id          Artist Name  Artist Reputation  Height  \
0     fffe3900350033003300        Billy Jenkins               0.26    17.0
1     fffe3800330031003900          Jean Bryant               0.28     3.0
2     fffe3600370035003100         Laura Miller               0.07     8.0
3         fffe350031003300       Robert Chaires               0.12     9.0
4     fffe3900320038003400         Rosalyn Krol               0.15    17.0
...                    ...                  ...                ...     ...
6495  fffe3800370037003300  Jeffrey Freudenthal               0.37    37.0
6496      fffe310036003400        Larry Edwards               0.67    15.0
6497  fffe3600300031003300         Denise Worth               0.68    19.0
6498  fffe3600350035003900          Daniel Drew               0.02    33.0
6499  fffe3700310031003600       Vernon Carroll               0.18    30.0

      Width     Weight   Material  Price Of Sculpture  Base Shipping Price  \
0       6.0     4128.0      Brass               13.91                16.27
1       3.0       61.0      Brass                6.83                15.00
2       5.0      237.0       Clay                4.96                21.18
3       NaN        NaN  Aluminium                5.81                16.31
4       6.0      324.0  Aluminium                3.18                11.94
...     ...        ...        ...                 ...                  ...
6495   10.0    16551.0      Brass               28.28                38.46
6496    NaN    18981.0        NaN               67.18                27.72
6497    8.0      587.0       Clay                6.92                10.38
6498    9.0  1269377.0      Stone             2929.13                69.76
6499   13.0    34729.0      Brass               46.63                78.25

     International Express Shipment Installation Included Transport Fragile  \
0              Yes              Yes                    No   Airways      No
1               No               No                    No  Roadways      No
2               No               No                    No  Roadways     Yes
3               No               No                    No       NaN      No
4              Yes              Yes                   Yes   Airways      No
...            ...              ...                   ...       ...     ...
6495           Yes              Yes                    No   Airways      No
6496            No               No                    No  Roadways      No
6497           Yes               No                    No       NaN     Yes
6498            No              Yes                    No  Roadways      No
6499            No              Yes                    No   Airways      No

     Customer Information Remote Location Scheduled Date Delivery Date  \
0           Working Class              No       06/07/15      06/03/15
1           Working Class              No       03/06/17      03/05/17
2           Working Class             Yes       03/09/15      03/08/15
3                 Wealthy             Yes       05/24/15      05/20/15
4           Working Class              No       12/18/16      12/14/16
...                   ...             ...            ...           ...
6495              Wealthy             Yes       03/28/18      03/25/18
6496        Working Class              No       08/29/15      08/27/15
6497              Wealthy              No       04/10/19      04/09/19
6498        Working Class             Yes       03/10/19      03/12/19
6499        Working Class              No       12/03/16      12/05/16

              Customer Location     Cost
0        New Michelle, OH 50777  -283.29
1     New Michaelport, WY 12072  -159.96
2         Bowmanshire, WA 19241  -154.29
3          East Robyn, KY 86375  -161.16
4           Aprilside, PA 52793  -159.23
...                         ...      ...
6495       New Robert, VT 85335   872.43
6496       New Joshua, VA 35766  1347.02
6497       Lake Kelly, MA 80823   354.55
6498       Hintonberg, UT 35006  5037.50
6499  New Christopher, AK 87406   722.47

[6500 rows x 20 columns]>

In [201]:
df.dtypes

Customer Id               object
Artist Name               object
Artist Reputation        float64
Height                   float64
Width                    float64
Weight                   float64
Material                  object
Price Of Sculpture       float64
Base Shipping Price      float64
International             object
Express Shipment          object
Installation Included     object
Transport                 object
Fragile                   object
Customer Information      object
Remote Location           object
Scheduled Date            object
Delivery Date             object
Customer Location         object
Cost                     float64
dtype: object

In [202]:
df_new=df.drop(["Artist Name","Scheduled Date","Delivery Date"],axis=1)

In [203]:
df_new["Customer Location"]=df_new["Customer Location"].str.extract('(\d+)')

In [204]:
df_new["Customer Location"]

0       50777
1       12072
2       19241
3       86375
4       52793
        ...
6495    85335
6496    35766
6497    80823
6498    35006
6499    87406
Name: Customer Location, Length: 6500, dtype: object

In [205]:
df_new.isnull().sum()

Customer Id                 0
Artist Reputation         750
Height                    375
Width                     584
Weight                    587
Material                  764
Price Of Sculpture          0
Base Shipping Price         0
International               0
Express Shipment            0
Installation Included       0
Transport                1392
Fragile                     0
Customer Information        0
Remote Location           771
Customer Location           0
Cost                        0
dtype: int64

In [206]:
df_new=df_new.drop(["Material","International","Express Shipment","Installation Included","Transport","Fragile","Customer Information","Remote Location","Customer Location"],axis=1)

In [207]:
df_new.isnull().sum()

Customer Id              0
Artist Reputation      750
Height                 375
Width                  584
Weight                 587
Price Of Sculpture       0
Base Shipping Price      0
Cost                     0
dtype: int64

In [208]:
#df_new["Artist Reputation"]=df_new["Artist Reputation"].replace(np.NaN,df_new["Artist Reputation"].mean())

In [209]:
#df_new["Height"]=df_new["Height"].replace(np.NaN,df_new["Height"].mean())

In [210]:
#df_new["Weight"]=df_new["Weight"].replace(np.NaN,df_new["Weight"].mean())

In [211]:
#df_new["Width"]=df_new["Width"].replace(np.NaN,df_new["Weight"].mean())

In [212]:
df_new=df_new.dropna()

In [213]:
df_new.isnull().sum()

Customer Id            0
Artist Reputation      0
Height                 0
Width                  0
Weight                 0
Price Of Sculpture     0
Base Shipping Price    0
Cost                   0
dtype: int64

In [214]:
df_new.isnull().sum()

Customer Id            0
Artist Reputation      0
Height                 0
Width                  0
Weight                 0
Price Of Sculpture     0
Base Shipping Price    0
Cost                   0
dtype: int64

In [215]:
df_new.shape

(4629, 8)

In [216]:
df_new["Cost"]

0       -283.29
1       -159.96
2       -154.29
4       -159.23
5      -1922.78
         ...
6492    5177.64
6495     872.43
6497     354.55
6498    5037.50
6499     722.47
Name: Cost, Length: 4629, dtype: float64

In [219]:
df_new

,Customer Id,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
0,fffe3900350033003300,0.26,17.0,6.0,4128.0,13.91,16.27,-283.29
1,fffe3800330031003900,0.28,3.0,3.0,61.0,6.83,15.00,-159.96
2,fffe3600370035003100,0.07,8.0,5.0,237.0,4.96,21.18,-154.29
4,fffe3900320038003400,0.15,17.0,6.0,324.0,3.18,11.94,-159.23
5,fffe3300390039003900,0.99,46.0,19.0,1178.0,6.16,16.88,-1922.78
...,...,...,...,...,...,...,...,...
6492,fffe3800350039003100,0.80,17.0,12.0,424586.0,1648.14,61.13,5177.64
6495,fffe3800370037003300,0.37,37.0,10.0,16551.0,28.28,38.46,872.43
6497,fffe3600300031003300,0.68,19.0,8.0,587.0,6.92,10.38,354.55
6498,fffe3600350035003900,0.02,33.0,9.0,1269377.0,2929.13,69.76,5037.50
6499,fffe3700310031003600,0.18,30.0,13.0,34729.0,46.63,78.25,722.47

In [220]:
df_new_x=df_new.drop(["Cost","Customer Id"],axis=1)

In [221]:
df_new_x.dtypes

Artist Reputation      float64
Height                 float64
Width                  float64
Weight                 float64
Price Of Sculpture     float64
Base Shipping Price    float64
dtype: object

In [222]:
df_new_x

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price
0,0.26,17.0,6.0,4128.0,13.91,16.27
1,0.28,3.0,3.0,61.0,6.83,15.00
2,0.07,8.0,5.0,237.0,4.96,21.18
4,0.15,17.0,6.0,324.0,3.18,11.94
5,0.99,46.0,19.0,1178.0,6.16,16.88
...,...,...,...,...,...,...
6492,0.80,17.0,12.0,424586.0,1648.14,61.13
6495,0.37,37.0,10.0,16551.0,28.28,38.46
6497,0.68,19.0,8.0,587.0,6.92,10.38
6498,0.02,33.0,9.0,1269377.0,2929.13,69.76
6499,0.18,30.0,13.0,34729.0,46.63,78.25

In [223]:
df_new_y=df_new["Cost"]

In [224]:
from sklearn.linear_model import LinearRegression

In [225]:
from sklearn.model_selection import train_test_split

In [226]:
df_tr_x,df_test_x,df_tr_y,df_test_y=train_test_split(df_new_x,df_new_y,test_size=.3)

In [227]:
lm_model=LinearRegression().fit(df_tr_x,df_tr_y)

In [228]:
p=lm_model.predict(df_test_x)

In [229]:
from sklearn.metrics import r2_score

In [231]:
r2_score(df_test_y,p)

0.00036400278269577147

In [232]:
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols

In [233]:
df_new.dtypes

Customer Id             object
Artist Reputation      float64
Height                 float64
Width                  float64
Weight                 float64
Price Of Sculpture     float64
Base Shipping Price    float64
Cost                   float64
dtype: object

In [241]:
df_new.dtypes

Customer Id             object
Artist Reputation      float64
Height                 float64
Width                  float64
Weight                 float64
Price Of Sculpture     float64
Base Shipping Price    float64
Cost                   float64
dtype: object

In [243]:
x_ols=pd.DataFrame(df_new.iloc[:,[1,2,3,4,5,6]])

In [244]:
y_ols=pd.DataFrame(df_new.iloc[:,[7]])

In [245]:
sm_model=ols("y_ols~x_ols",data=df_new).fit()

In [246]:
sm_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  y_ols   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.175
Method:                 Least Squares   F-statistic:                     165.1
Date:                Sat, 06 Mar 2021   Prob (F-statistic):          1.01e-190
Time:                        23:10:35   Log-Likelihood:                -63820.
No. Observations:                4629   AIC:                         1.277e+05
Df Residuals:                    4622   BIC:                         1.277e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -2.925e+04   1.02e+04     -2.879      0.004   -4.92e+04   -9331.996
x_ols[0]    4.794e+04    1.3e+04      3.682      0.000    2.24e+04    7.35e+04
x_ols[1]       7.3057    457.316      0.016      0.987    -889.253     903.864
x_ols[2]    1708.0468   1033.730      1.652      0.099    -318.558    3734.652
x_ols[3]       0.0070      0.003      2.324      0.020       0.001       0.013
x_ols[4]       9.8673      0.959     10.289      0.000       7.987      11.747
x_ols[5]    -167.3216    137.875     -1.214      0.225    -437.622     102.978
==============================================================================
Omnibus:                    12516.794   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        341871289.342
Skew:                          32.866   Prob(JB):                         0.00
Kurtosis:                    1332.730   Cond. No.                     1.23e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.23e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [247]:
x_ols=pd.DataFrame(df_new.iloc[:,[3]])

In [248]:
y_ols=pd.DataFrame(df_new.iloc[:,[7]])

In [249]:
sm_model=ols("y_ols~x_ols",data=df_new).fit()

In [250]:
sm_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  y_ols   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     122.4
Date:                Sat, 06 Mar 2021   Prob (F-statistic):           4.20e-28
Time:                        23:13:18   Log-Likelihood:                -64209.
No. Observations:                4629   AIC:                         1.284e+05
Df Residuals:                    4627   BIC:                         1.284e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -5.61e+04   7675.827     -7.309      0.000   -7.12e+04   -4.11e+04
x_ols       7688.2601    694.883     11.064      0.000    6325.959    9050.561
==============================================================================
Omnibus:                    12176.502   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        251590092.051
Skew:                          30.679   Prob(JB):                         0.00
Kurtosis:                    1143.463   Cond. No.                         22.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""